.coin-container {
  display: flex;
  justify-content: center;
}

.coin-row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 5rem;
  border-bottom: 0.063rem solid #d7d7d7;
  width: 71.875rem;
}

.coin {
  display: flex;
  align-items: center;
  padding-right: 1.5rem;

  min-width: 18.75rem;
}

.coin h1 {
  font-size: 1rem;
  width: 9.375rem;
}

.coin img {
  height: 1.875rem;
  width: 1.875rem;
  margin-right: 0.625rem;
}

.coin-symbol {
  text-transform: uppercase;
}

.coin-data {
  display: flex;
  text-align: right;
  justify-content: space-between;
  width: 100%;
}

.coin-price {
  width: 6.875rem;
}

.coin-volume {
  width: 12.5rem;
}

.coin-marketcap {
  width: 14.375rem;
}

.coin-percent {
  width: 6.25rem;
}

.red {
  color: #f00606;
}

.green {
  color: #11d811;
}

  button {
    margin-left: -1rem;
    height: 1.563rem;
    width: 2.190rem;
    background-image: linear-gradient(
        -225deg,
        #ac32e4 0%,
        #7918f2 48%,
        #4801ff 100%
      );
  }

  @media screen and (max-width: 2000px) {
    .coin-data button {
      font-size:  11px;
    }
  }

    @media only screen and (max-width: 1150px) {
      button {
        font-size:  55%;
        margin-left: 19px;
        margin-right: 10px;
      }

      .coin img {
        height: 2rem;
        width: 3rem;
        padding-left: 15px;
      }

      .coin-percent {
        width: 7.25rem;
      }

      .coin-marketcap {
        width: 15.375rem;
      }

      .coin-row {
        font-size: 15px;
        width: 100%;
      }

      .coin-volume {
        display: none;
      }

    }


  @media only screen and (max-width: 750px) {
    button { 
      height: 1.563rem;
      width: 4rem;
      margin-left: 19px;
      margin-right: 10px;
    }
    .coin img {
      height: 3rem;
      width: 4rem;
      margin-left: -10px;
    }

    .coin h1 {
      font-size: 10px;
    }

    .coin-symbol {
      font-size: 10px;
    }
    .coin-data {
      font-size: 12px;
    } 

    .coin-marketcap {
      font-size: 10px;;
    }

    .coin-price {
      width: 10rem;
    }

    .coin-percent {
      width: 7rem;
      margin-left: 10px;;
    }
  }
